body {
    background-color: white;
}

.learnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.speakerImage {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.speakerImage img {
    height: 30vh;
    width: auto;
    border-radius: 5px;
    border: 1px solid black;
}

.dialogueBox {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-right: 30px;
    position: relative;
    white-space: pre-line;
    text-align: center;
}

.dialogueBox::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 90%;
    transform: translateX(-50%);
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent;
}

#dialogueText {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

#nextButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: #750000;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextButton:hover {
    background-color: #ff6666;
}
