.unanswered {
  background-color: #f9cb9c;
}

.incorrect {
  background-color: #e06666;
}

.correct {
  background-color: #b6d7a8;
}

#quizContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  width: 650px;
  justify-content: space-between;
  align-content: space-between;
}

.questionBox {
  width: 45%;
  box-sizing: border-box;
  height: 30%;
  display: flex;
  font-size: 24px;
  padding: 12px;
  font-weight: bold;
  border: 1px solid black;
  user-select: none;
}

#quizModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 50px 50px 50px;
  border: 2px solid black;
  background-color: lightgray;
}

#questionBody {
  margin: 20px 0px;
}

#multChoiceContainer {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  gap: 20px;
}

#trueFalseContainer {
  display: flex;
  width: 800px;
  gap: 20px;
}

.quizChoice {
  height: 140px;
  width: 45%;
  border: 1px solid black;
  background-color: lightgray;
  font-size: 20px;
  padding: 12px;
  align-items: space-between;
  user-select: none;
}

.quizButton {
  height: 60px;
  width: 120px;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#buttonContainer {
  display: flex;
  gap: 10px;
}

#quizSubmit {
  background-color: #ffab40;
}

#choicesContainer {
  display: flex;
  gap: 20px;
}

#answerContainer {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.sortItem {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  user-select: none;
}
