.unanswered {
  background-color: #d99e9e;
}

.incorrect {
  background-color: #d92727;
}

.correct {
  background-color: #a2d54b;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: no-repeat center/cover url('https://snworksceo.imgix.net/jhn/85697b6d-9900-45f1-96f3-c42414878f0e.sized-1000x1000.jpg?w=1000');
}

.backgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Optional padding to keep contents within a central area */
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1250px;
  width: 100%;
  max-width: 2000px;
  background-color: white;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}

.quiz-specific {
  justify-content: flex-start; /* Align content to the top */
  align-items: flex-start;     /* Align content to the left */
}

#quizQuestions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  width: 650px;
  justify-content: space-between;
  align-content: space-between;
}

.questionBox {
  font-family: 'Dancing Script', cursive;
  font-size: 50pt;
  width: 45%;
  box-sizing: border-box;
  height: 30%;
  display: flex;
  font-size: 24px;
  padding: 12px;
  font-weight: bold;
  border: 1px solid black;
  user-select: none;
}

#quizModal {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 28pt;
  position: relative; 
  padding: 25px 50px 50px 50px;
  border: 2px solid black;
  background-color: #920000;
  width: 65%;
  box-sizing: border-box;
}

#questionBody {
  margin: 20px 0px;
}

#multChoiceContainer {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  gap: 20px;
}

#trueFalseContainer {
  display: flex;
  width: 800px;
  gap: 20px;
}

.quizChoice {
  height: 140px;
  width: 45%;
  border: 1px solid white;
  background-color: lightgray;
  font-size: 20px;
  padding: 12px;
  align-items: space-between;
  user-select: none;
}

.quizButton {
  height: 60px;
  width: 120px;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#buttonContainer {
  display: flex;
  gap: 10px;
}

#quizSubmit {
  color: white;
  background-color: #920000;
}

#choicesContainer {
  display: flex;
  gap: 20px;
}

#answerContainer {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.sortItem {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  user-select: none;
}
