{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'dialogue.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/dialogue.css')}}">

<script>
    let data = {{data|tojson}};
    let contestants = {{contestants|tojson}};
    let main_images = {{main_images|tojson}};
    let rose_data = {{rose_data|tojson}};
    let is_first_page = {{is_first_page|tojson}};
</script>

<div class="row" >
    <div class="col-1"></div>
    <div class="col-10">
        <div id="learnContainer">
            <span id="clickPrompt">Click anywhere to progress dialogue.</span>
            <div id="dialogueContainer"></div>



            {% if is_first_page %}
                <!-- Button for the first page -->
                <button type="button" class="btn btn-primary" id="handbookButton" data-bs-toggle="modal" data-bs-target="#handbookModal">
                    Click to watch an example!
                </button>
            {% else %}
                <!-- Button for other pages -->
                <button type="button" class="btn btn-primary" id="handbookButton" data-bs-toggle="modal" data-bs-target="#handbookModal">
                    Try the rose ceremony!
                </button>
            {% endif %}

            <!-- <button type="button" class="btn btn-primary" id="handbookButton" data-bs-toggle="modal" data-bs-target="#handbookModal">
                Try the rose ceremony! 
            </button> -->
            <button id="nextButton">Continue</button>
        </div>  
    </div>
    <div class="col-1"></div>
</div>

<!-- Handbook Modal-->
<div class="modal fade" id="handbookModal" tabindex="-1" aria-labelledby="handbookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="handbookModalLabel">Rose Ceremony</h5>
                <!-- Close button with Bootstrap 5 data attribute -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-4">
                    <div class="col-12 text-center" id="instruction">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="contestantRow"></div>                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div id="videoInsert">
                            <iframe id="videoFrame" width="560" height="315" src="" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                        </div>                
                    </div>
                </div>
                <div class="row">
                    <div class = "col-2"></div>
                    <div class="col-8 text-center">
                        <div class = "row">
                            <div id="roseRow"></div>
                        </div>
                        <div class = "row">
                            <div id="rosesLeft"></div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Date Modal -->
<div class="modal fade" id="profileVideoModal" tabindex="-1" aria-labelledby="profileVideoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileVideoModalLabel">Video Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="videoFrame" width="560" height="315" src="" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}