{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/envelope.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='envelope.js') }}"></script>

<script>
    let data = {{data|tojson}};
</script>

<div class="backgroundImage">
    <div class="contentBox">
        <div id="envelope-container" class="envelope-closed">
            <div id="front-envelope" class="front">
                <p id="click-text">*GASP* A letter has arrived!<br>Click to open</p>
            </div>
            <div id="back-envelope" class="back"></div>
            <div id="letter" class="letter letter-off">
                <p id="letter-content">{{ data['text']|replace('\n', '<br>')|safe }}</p>
            </div> 
        </div>
        <button id="nextButton">Next</button>
    </div>
</div>

{% endblock %}