{% extends "layout.html" %}

{% block content %}

<p id="letter"> Gasp! An envelope has arrived! </p>

<div id="envelope-container" class="envelope-closed">
    <div id="front-envelope" class="front">
        <p id="font">Click to open</p>
    </div>
    <div id="back-envelope" class="back"></div>
    <div id="text_container" class="letter">
        <p id="letter-content font">Content from the server will appear here...</p>
    </div> 
</div>
<button id="nextButton">Next</button>

<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/envelope.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='envelope.js') }}"></script>

{% endblock %}