{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{url_for('static', filename='stylesheets/quiz.css')}}"
/>

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz_home.js') }}"
></script>

<script>
  let data = {{data|tojson}};
</script>

<div class="backgroundImage">
    <div class="contentBox">
        <div id="quizModal">
            <h2>Surprise Pop Quiz!</h2>
            <div id="quizContainer"></div>
        </div>
    </div>
</div>

{% endblock %}