{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{url_for('static', filename='stylesheets/quiz.css')}}"
/>

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz.js') }}"
></script>

<script>
  let data = {{data|tojson}};
  let correct = {{correct|tojson}};
  let incorrect = {{incorrect|tojson}};
</script>

<div class="backgroundImage">
    <div class="contentBox quiz-specific"> <!-- Added class here -->
        <div id="questionContainer">
          <h3>Question {{ data.questionId }}</h3>
          <h3>{{ data.question }}</h3>
          <div id="questionBody"></div>
          <div id="buttonContainer">
            <a href="/quiz"><div class="quizButton">Back</div></a>
            <div class="quizButton" id="quizSubmit">Submit</div>
          </div>
        </div>
    </div>
</div>

{% endblock %}